<div class="contact-me">
  <h1 class="title">Contact Me</h1>
  <div class="title-texture">
    If you have any questions or thoughts at all about my blog posts, please do not hesitate to contact me below.
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <!--Contact Information-->
    <div fxFlex="50" fxFlex.xs="100">
      <div class="contact-info" [innerHTML]="mapString">
      </div>
    </div>
    <!--Contact Form-->
    <div fxFlex="50" fxFlex.xs="100" class="contact-forms">
      <form fxFlex="80" [formGroup]="contactForm" (ngSubmit)="submit()">
        <input class="contact-form" type="text" placeholder="Full Name" formControlName="name" required />
        <input class="contact-form" type="email" placeholder="Email" formControlName="email" required />
        <input class="contact-form" type="tel" placeholder="Phone Number" formControlName="tel" />
        <textarea class="contact-form contact-textarea" placeholder="Message" formControlName="message" required></textarea>
        <button class="submit-button" type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>

