<div class="others">
  <div class="about-me">
    <h2 class="title">About Vincent Skylark</h2>
    <p>
      I'm your host, Vincent Skylark, responsible for design, deployment and maintenance of this site. This is Skylark Blog, a MEAN stack project for sharing my knowledge, thoughts and works.
    </p>
    <p>
      I was a college student majoring in electrical and computer engineering. I do miss every single day I spent on campus with so many talented and admirable souls. Time flies between exhausting challenges and short joy while one can hardly see the end. Then it comes to the end, and I am
    </p>
  </div>
</div>
