<div class="others">
  <div class="about-me">
    <h2 class="title">About Vincent Skylark</h2>
    <p>
      I'm your host, Vincent Skylark, responsible for design, deployment and maintenance of this site. This is Skylark Blog, a MEAN stack project for sharing my knowledge, thoughts and works.
    </p>
    <p>
      I was a college student majoring in electrical and computer engineering. I do miss every single day I spent on campus with so many talented and admirable souls. Time flies between exhausting challenges and short joy while one can hardly see the end. Then it comes to the end, and I am
    </p>
    <p>
      I start my career from front end, which is something like HTML, CSS, and jQuery. Those skills are widely used in today's 3-tier web application, which allow people easily build static pages with some aesthetics. Web based technologies may be the most popular field, while the market keeps raising the bar. As a developer today, it is mandatory to master JavaScript, knowing some mainstream framework and having basic knowledge about how browser works. Those skills can be found from tons of books, online courses and our best friend, stackoverflow. They are all helpful resources and I can never make one tutorial that is more comprehensive. Then what is the purpose of building such a blog?
    </p>
    <p>
      The idea of having my own blog comes out when I was reading a post about the author's personal project. The paper is well-written, well-organized and well-illustrated. However, I realized it is still hard to have a deeper look into the project without the detailed, step-by-step guide with comments about their design. For those who has interest about a specific skillset, there should be something more than a barebone demo. Then I start writing my own blog.
    </p>
    <p>
      This blog is built for personal hobby with a good wish to share my knowledge and experience. Articles are static words, while blogging is a dynamic process: we keep learning and getting experienced like onion knights. The way is a long and hard one... but once you master the job, the rewards just might be worth it!
    </p>
      
    </P>
  </div>
</div>
