<div class="others">
  <div class="about-me">
    <h2 class="title">About Vincent Skylark</h2>

    <p id="float-text">
      I'm your host, Vincent Skylark, responsible for design, deployment and maintenance of this site. This is Skylark Blog, a MEAN stack project for sharing my knowledge, thoughts and works.
    </p>
    <br />
    <img id="avatar" src="../../../assets/img/avatar.jpg" />
    <p>
      I started working on front end with technology like HTML, CSS, and jQuery.Front end usually refers to the presentation layer of a three-tire Internet Application, while back end focus more on data manipulation and analysis. Web based information technologies have been rapidly developed since it first come out and is still one of the most important areas nowadays. Companies are also having higher expectations on their developers. As a developer today, it is mandatory to master JavaScript, get familiar with most mainstream frameworks and have basic understanding about how browser works. Those skills can be found from tons of books, online courses and our best friend, stackoverflow. They are all helpful resources and I can never make one tutorial that is more comprehensive.
    </p>
    <br />
    <p>
      The idea of building my own website comes up when I was watching someone's sample project. It is well-written, well-organized and well-illustrated. I can not stop thinking if I can make one as good or even better. I have learned all the technologies that is required for building a website with over 100 working notes taken during the past year. All I need is a VPS, a domain name and some motivation. Two months later, the plan is turned into this project.
    </p>
    <br />
    <p>
      This blog is built for personal hobby with a good wish to share my knowledge and experience. Articles are static words, while blogging is a dynamic process: we keep learning and getting experienced like onion knights. The way is a long and hard one... but once you master the job, the rewards just might be worth it!
    </p>
  </div>
</div>
