.title {
  margin-top: 10px;
  width: 100%;
  text-align: center;

  .home-flyout {
    margin: auto;
    width: 80%;
    height: 400px;
    display: block;
    background-image: url("../../../assets/img/title-img.jpg");
    background-size: auto;
    background-position: center center;
  }

  .home-title-card {
    width: 60%;
    display: block;
    margin: auto;
    padding: 12px;
    background-color: #FFF;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
    position: relative;
    top: -60px;
  }

  .title-texture {
    font-size: 24px;
    color: #b8860b;
  }
}
