<div class="title">
  <div class="home-flyout">

  </div>
  <div class="home-title-card">
    <span class="title-texture">Sample Content<br />Sample Subtotal</span>
  </div>

</div>
<div class="section">
  Welcome to the skylark blog. This site is built for personal hobbies that cover software development, geek thoughts and project exhibition. Hope you all enjoy your time here.
</div>

<div class="section">
  <h1>Skills and Topics</h1>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngFor="let skills of skillset">
      <!--Columns-->
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" fxFlex.xs="100">
          <div class="skill-row" fxLayout="row" fxLayoutAlign="space-between center">
            <img class="skill-icon" [src]="skills[0].iconUrl" />
            <div>
              <h3>{{skills[0].name}}</h3>
              <p class="skill-description">{{skills[0].description}}</p>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxFlex.xs="100">
          <div class="skill-row" fxLayout="row" fxLayoutAlign="space-between center">
            <img class="skill-icon" [src]="skills[1].iconUrl" />
            <div>
              <h3>{{skills[1].name}}</h3>
              <p class="skill-description">{{skills[1].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  Contact
</div>
