#navbar {

  ul, #nav-list {
    list-style: none;
    text-align: right;
    border-bottom: solid;

    .nav-item {
      font-size: 20px;
      display: inline-block;
      margin: 0 10px;

      a {
        padding: 0;
        text-decoration: none;
      }
    }
  }
}
