#navbar {
  height: 70px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  background-color: #232a31;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);

  #logo-text {
    font-size: 18px;
    color: #FFF;
    border: solid 1px #FFF;
  }

  #nav-logo{
    width: 20%;
  }

  #nav-menu {
    width: 80%;
    padding-right: 20px;
  }

  ul, #nav-list {
    list-style: none;
    line-height: 24px;
    text-align: right;
    float: right;

    .nav-item {
      font-size: 18px;
      display: inline-block;
      margin: 0 10px;
      padding: 23px 0;

      .nav-link {
        color: #FFF;
        text-shadow: 0 1px 0 #666;
        padding: 0;
        text-decoration: none;
      }

      a:active {
        text-decoration: none;
      }
    }
  }
}

#g-signin{
  cursor:pointer;
}
