<div class="side-nav">

  <h3>Categories</h3>

  <h3>About The Host</h3>
  <div>
    <p>
      Vincent Skylark is a software developer by day and a tech enthusiast by night.<br />
      <a [routerLink]="['/aboutme']">More about me.</a>
    </p>
  </div>

  <h3>Popular Posts</h3>

  <h3>Archieves</h3>
  <!--Data Picker-->
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
</div>
