<div class="side-nav">
  <h3>About The Author</h3>
  <div>
    <p>Skylark is a software developer by day and a tech geek by night, who is known for his sense of responsibility and the enthusiasm for engineering. He is not a man bring suprise and laugh but the man peole trust and would like to team up with.</p>
    Some part of him believes technological utopianism while he also admits that modern science is not the ultimate solution -- everyone has their limitation and lives within their own reality, just like whether they consider "they" in this sentence as "singular they" or a grammar mistake.
  </div>
  <!--Data Picker-->
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
</div>
