<md-card class="blog-post">
  <md-card-header>
    <md-card-title>{{blog.title}}</md-card-title>
    <md-card-subtitle>Tags:<span *ngFor="let tag of blog.tag">{{tag}} </span> by:{{blog.author}}</md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayout="column">
    <div fxFlex="100" class="post-image">
      <img src="../../../../assets/img/avatar.jpg" />
    </div>
    <div fxFlex="100" class="post-brief">{{blog.content}}</div>
  </md-card-content>
  <md-card-actions>
    <button md-button>Like </button>
    <button md-button>view more</button>
  </md-card-actions>
</md-card>
