.blog-post {
  margin: 10px;
}

.post-images {
  text-align: center;
  max-height: 260px;
  max-width: 360px;
}

.post-image {
  max-height: 100%;
  max-width: 100%;
}

.post-brief {
  margin: 0 28px 0 28px;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-style: normal;
}

.post-card-action {
  text-align: right;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 14px;
}

.card-author {
  white-space: pre;
}

.card-prefix{
  margin: 0 5px 0 5px;
  font-weight: bold;
}
