.blog-post {
  margin: 20px 0 20px 0;
}

a{
  text-decoration: none;
}

.post-images{
  text-align: center;

}

.post-image {
  max-height: 260px;
  max-width: 360px;
}

.card-prefix{
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.post-brief {
  line-height: 150%;
}
