<div class="blog">
  <div fxLayout="row" class="blog-content">
    <div fxFlex="70" fxFlex.xs="100">
      <div *ngFor="let post of blogs">
        <blog-card [blog]="post"></blog-card>
      </div>

      <div class="paginator">
        <md-paginator [length]="pageModel.length"
                      [pageSize]="pageModel.pageSize"
                      (page)="pageChange($event)">
        </md-paginator>
      </div>

    </div>

    <div fxFlex="30" fxHide.xs>
      <sidenav></sidenav>
    </div>

  </div>
</div>
